---
import ButtonLink from '../components/ButtonLink.astro'
import Layout from '../layouts/Layout.astro'
import Logo from '../icons/Logo.astro'
import Header from '../components/Header.astro'
import TelegramIcon from '../icons/Telegram.astro'
import WhatsappIcon from '../icons/Whatsapp.astro'

const linkToWhatsapp = 'https://wa.me/message/4BEU6RWR36OYM1'
const linkToTelegram = 'https://t.me/Florart10'
---
<Layout
	title='Florart - Descubre de la eternidad en nuestras flores'
	description='Bio link de flor art'>
	<main class='flex flex-col items-center justify-end h-full w-full'>
		<Header/>

		<section class='relative flex-1 w-full max-w-[40em] flex flex-col items-center justify-center gap-4 px-2'>
			<Logo class='absolute text-white/10 size-96 lg:size-[40em] left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] -z-10'/>

			<ButtonLink href={linkToWhatsapp}>
				<WhatsappIcon class='size-8'/>
				Whatsapp
			</ButtonLink>
			<ButtonLink href={linkToTelegram}>
				<TelegramIcon class='size-8'/>
				Telegram
			</ButtonLink>
		</section>

		<section class='relative h-[15em] w-full min-w-[500px] max-w-[40em] overflow-hidden'>
			<img src='/flor-1.webp' alt='Ramo de flores de florart' class='absolute -left-0 -bottom-0 h-full aspect-auto'>
			<img src='/flor-2.webp' alt='Ramo de flores de florart' class='absolute left-[50%] translate-x-[-50%] -bottom-0 h-full aspect-auto'>
			<img src='/flor-3.webp' alt='Ramo de flores de florart' class='absolute right-0 -bottom-0 h-full aspect-auto'>
		</section>
	</main>
</Layout>
