<header class='h-auto flex flex-col justify-center items-center text-white text-pretty py-4'>
	<span class='font-bold text-4xl md:text-5xl lg:text-6xl '>
		Flor Art
	</span>
	<p class='text-xl text-center lg:text-xl'>
		Descubre de la eternidad en nuestras flores
	</p>
</header>
