<header class='w-full max-w-[40em] flex flex-col justify-center items-center text-white text-wrap py-4'>
	<span class='font-bold text-3xl md:text-5xl lg:text-6xl '>
		Flor Art
	</span>
	<p class='text-sm md:text-sm lg:text-3xl text-center'>
		Descubre la eternidad en nuestras flores
	</p>
</header>
