---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description}/>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body
		id='background'
		class='h-screen w-screen max-h-screen max-w-[30em] mx-auto m-0 p-none px-4'>
		<slot />
	</body>

	<style>
	#background {
		background-image: url('./sky.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	</style>
</html>
