---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description}/>
		<meta name='viewport' content='width=device-width' />
		<meta name='theme-color' content='#0174cf' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body
		id='background'
		class='h-dvh w-screen p-none'>
		<slot />
	</body>

	<style>
	/* BUG: the <main> tag overflows body, im still searching why it happens */
	html, body {
		overflow: hidden;
	}

	#background {
		background-image: url('/sky.webp');
		background-repeat: repeat;
		background-size: cover;
		background-color: #0174cf;
	}
	</style>
</html>
